
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Montserrat&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.landing {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.login-wrapper {
  padding-top: 8rem;
  width: 40%;
}

.login-wrapper.signup-wrapper {
  padding-top: 2rem;
}
.login-form-header{
text-align: center;
}

.login-form-header > h1 {
  font-size: 2.5rem;
  color: #0080ff;
}

.login-form-header > h2 {
  font-size: 2.8rem;
  font-weight: bold;
}

.login-sidbar {
  align-items: center;
  width: 60%;
}

.login-sidbar > .sidebar-heading > h1 {
  text-align: center;
  color: #3a59fd; 
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 1.5;
  /* padding-right: 3rem;
  padding-left: 3rem; */
  letter-spacing: 0.3rem;
}

.login-sidbar > .sidebar-heading > h2 {
  color: rgb(29, 27, 27);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 4.7rem;
  margin: 2rem auto;
}

.form-group > label {
  font-size: 1.6rem;
  font-weight: 500;
  padding-bottom: 5px;
  padding-top: 20px;
}

.form-group .form-control {
  font-size: 1.4rem;
  border: none;
  border-bottom: 1px solid rgb(214, 214, 214);
  border-right: 1px solid rgb(214, 214, 214);
  border-left: 1px solid rgb(214, 214, 214);
  padding: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.login-wrapper .btn-primary {
  margin-top: 20px;
  background: #3a59fd;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  padding: 8px;
}

.login-wrapper > .field-footer h4 {
  line-height: 1.5;
  font-size: 14px;
  font-weight: bold;
}

.blue-span {
  color: #3a59fd;
}

.login-sidbar .sidebar-heading {
  text-align: center;
  padding-top: 5rem;
}

.step-text {
  max-width: 80%;
  text-align: center;
  font-size: 1.4rem;
}

.step-text p {
  color: #000;
  font-size: 1.6rem;
}

.svg, .step-svg {
  width: 100%;
}

.svg > img,
.step-svg > img {
  width: 100%;
}

.step-text > h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #3a59fd;
}

.green-span::before {
  color: #000;
  content: '';
  animation: animate infinite 10s;
}

@keyframes animate {
  0% {
    content: 'Connect';
  }

  20% {
    content: 'Survive';
  }

  40% {
    content: 'Grow';
  }

  60% {
    content: 'Succeed';
  }

  80% {
    content: 'Mature';
  }

  100% {
    content: 'Connect';
  }
}

.signup-sub {
  padding: 0;
  padding-bottom: 0;
  margin-top: 1rem;
}

.sidebar-step-items{
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 425px) {
  .landing {
    flex-direction: column-reverse;
  }

  .login-sidbar > .sidebar-heading > h1 {
    padding: 0;
    font-weight: 500;
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 0.3rem;
  }

  .login-sidbar > .sidebar-heading {
    margin: 0 auto;
    width: 90%;
  }

  .sidebar-step-items {
    text-align: center;
  }

  .step-text > h3 {
    letter-spacing: 1;
  }

  .form-group > label {
    font-size: 1.5rem;
  }

  .form-group .form-control {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  .landing {
    flex-direction: column;
  }

  .login-wrapper,
  .login-sidbar {
    padding: 1rem;
    width: 100%;
  }
}
